useDynLib(EBSeq2)
export(crit_fun, DenNHist, EBTest, GetNg, MedianNorm, 
PolyFitPlot, PostFC, QQP, QuantileNorm, RankNorm, EBMultiTest, 
GetMultiPP, GetPatterns, PlotPattern, GetPPMat, GetMultiFC, PlotPostVsRawFC,
GetNormalizedMat, GetDEResults)
import(blockmodeling, gplots, testthat,RcppEigen)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
